#div1{
    width: 100px;
    height: 100px;
    background-color:aqua;
    border: 2px solid black;
    outline: 2px solid orange;
}

.div2{
    width: 200px;
    height: 200px;
    background: greenyellow;
    outline: blue
}

#div1 nav{
    height: 150px;
    width: 150px;
    background-color: yellowgreen;
}

#a1{
    color: magenta;
}
#a2{
    color: brown;
}
p+h1{
    color: blueviolet;
}

